@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --BMainColor-1: #bd6709;
  --YMainColor-2: #babd09;
  --RMainColor-3: #bd0d09;
  /* --Border-Test: 3px solid blue; */
}

* {
  box-sizing: border-box;
  border: var(--Border-Test);
}

body {
  margin: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  height: auto;
  background: url("./img/background-img.jpg");
  background-size: cover;
  position: relative;
}

#body-filter {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  background-color: rgba(62, 32, 0, 0.4);
  z-index: -100;
}

/* Title START*/
#main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

#title-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-container h1,
p {
  text-align: center;
  padding: 10px 60px;
  color: var(--RMainColor-3);
  text-shadow: 0px 3px 1px var(--YMainColor-2), 0px 5px 1px rgb(4, 116, 245);
  font-family: 'Open Sans';
  font-weight: bolder;
}


#description{
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 0px 1px 1px var(--YMainColor-2);
  width: 80%;
}

#title-background {
  width: 100%;
  height: 10.5vh;
  border: 10px double var(--YMainColor-2);
  background:rgba(189, 103, 9, 0.15);
  position: absolute;
  mix-blend-mode: color-dodge;
}
/* Title END */

/* Form Container */
h4 {
  color: var(--YMainColor-2);
  text-shadow: 0px 2px 1px var(--RMainColor-3);
  font-weight: bolder;
  background-color: rgba(39, 20, 0, 0.514);
  padding: 10px;
  letter-spacing: 1.5px;
}

#form-container {
  background-color: rgba(189, 103, 9, 0.9);
  box-sizing: border-box;
  display: flex;
  padding: 20px;
  width: 41.66vw;
  height: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  z-index: 1;
}

/* Grid allocation */
#survey-form {
  display: grid;
  grid-template-areas:
    "fname lname"
    "email ."
    "age ."
    "question-0 ."
    "question-1 ."
    "question-2 ."
    "question-3 ."
    "comment_submit-area ."
    "source-code .";
  width: inherit;
  gap: 2em;
}

/* Make input responsive */
#survey-form input[type="text"] {
  width: 100%;
  resize: vertical;
}

/* Grid boxes */

/* Input styling Start*/

#name,
#lname,
#email,
#number {
  height: 49px;
  background: rgba(186, 189, 9, 0.7);
  color: var(--RMainColor-3);
  font-size: 1.25rem;
}

#name-label,
#name-label-1,
#email-label,
#number-label {
  color: var(--YMainColor-2);
  text-shadow: 0px 2px 1px var(--RMainColor-3);
  font-weight: bolder;
  background-color: rgba(39, 20, 0, 0.514);
  padding: 10px;
  letter-spacing: 1.5px;
}

#name::placeholder,
#lname::placeholder,
#email::placeholder,
#number::placeholder {
  color: var(--RMainColor-3);
}

#dropdown {
  width: 100%;
  height: 49px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--YMainColor-2);
  background-color: var(--RMainColor-3);
  margin-top: 10px;
}

#suggestion-box {
  width: 100%;
  font-size: 1.5rem;
  color: var(--RMainColor-3);
  background: rgba(186, 189, 9, 0.7);
  margin: 20px 0px;
}

#suggestion-box::placeholder {
  color: var(--RMainColor-3);
}

input[type=text], input[type=number], input[type=email] {
  border: 3px solid rgb(255, 110, 110);
  border-radius: 5px;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus{
  border: 3px solid var(--RMainColor-3);
}

select{
  outline: none;
}

select:focus{
  transition: all 0.2s;
  border: 3px solid var(--YMainColor-2);
}

textarea{
  outline: none;
  transition: all 0.2s;
  border-radius: 10px;
}

textarea:focus{
  border: 3px solid var(--RMainColor-3);
}

.q1-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.radio-check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.q1-label:hover input ~ .radio-check {
  background-color: #f8bf82;
  transition: all 0.5s;
  border: 1px double var(--RMainColor-3);
}
.q1-label input:checked ~ .radio-check {
  background-color: var(--RMainColor-3);
}

.radio-check::after{
  content: "";
  position: absolute;
  display: none;
}

.q1-label input:checked ~ .radio-check:after{
  display: block;
}

.q1-label .radio-check::after{
  left: 8px;
  top: 3px;
  width: 5px;
  height: 15px;
  border: solid var(--YMainColor-2);
  border-width: 0 5px 3px 0;
  transform: rotate(45deg);
}



.q2-label{
  position: relative;
  display: block;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
}

.q2-label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-box{
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
}

.q2-label:hover input ~ .radio-box{
  background-color: #f8bf82;
  border: 1px double var(--RMainColor-3);
  transition: all 0.2s;
}

.q2-label input:checked ~ .radio-box{
  background-color: var(--RMainColor-3);
}

.radio-box::after{
  content: "";
  position: absolute;
  display: none;
}

.q2-label input:checked ~ .radio-box::after{
  display: block;
}

.q2-label .radio-box::after{
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--YMainColor-2);
}

.q3-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
}

.q3-label input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.q3-label:hover input ~ .radio-check {
  background-color: #f8bf82;
  transition: all 0.5s;
  border: 1px double var(--RMainColor-3);
}
.q3-label input:checked ~ .radio-check {
  background-color: var(--RMainColor-3);
}

.q3-label input:checked ~ .radio-check:after{
  display: block;
}

.q3-label .radio-check::after{
  left: 8px;
  top: 3px;
  width: 5px;
  height: 15px;
  border: 3px solid var(--YMainColor-2);
  border-width: 0 5px 3px 0;
  transform: rotate(45deg);
}


/*End of input styling  */

.input-margin {
  margin-bottom: 10px;
}

#fname-box {
  grid-area: fname;
  display: flex;
  flex-direction: column;
}

#lname-box {
  grid-area: lname;
  display: flex;
  flex-direction: column;
}

#email-box {
  grid-area: email;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

#age-box {
  grid-area: age;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

#question-0 {
  grid-area: question-0;
  grid-column: 1/-1;
  background-color: rgba(39, 20, 0, 0.514);
  padding: 10px;
  letter-spacing: 1.5px;
}

#question-0 label {
  color: var(--YMainColor-2);
  text-shadow: 0px 2px 1px var(--RMainColor-3);
}

#question-1 {
  grid-area: question-1;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

#question-1, #question-2,#question-3 label {
  color: var(--YMainColor-2);
  text-shadow: 0px 2px 1px var(--RMainColor-3);
  font-style: oblique;
  font-weight: 900;
}

#question-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



#question-2 {
  grid-area: question-2;
  grid-column: 1/-1;
}
#question-3 {
  grid-area: question-3;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
}

#comment_submit-area-box {
  grid-area: comment_submit-area;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#comment_submit-area-box label {
  align-self: flex-start;
  color: var(--YMainColor-2);
  text-shadow: 0px 2px 1px var(--RMainColor-3);
  background-color: rgba(39, 20, 0, 0.514);
  padding: 10px;
  letter-spacing: 1.5px;
}

#submit{
  width: 100%;
  height: 60px;
  background-color: var(--RMainColor-3);
  border: 3px solid var(--YMainColor-2);
  border-radius: 15px;
  color: var(--YMainColor-2);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s;
}

#submit:hover{
  background-color: var(--YMainColor-2);
  border: 3px solid var(--RMainColor-3);
  color: var(--RMainColor-3);
}

/* Source Code Access */

.github-ico{
  grid-area: source-code;
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8em;
  color: rgb(0, 57, 163);
}

.github-ico > span{
  font-size: 2rem;
  margin-left: 5px;
}

.github-ico a{
  text-decoration: none;
}

.github-ico a:visited{
  color: rgb(0, 57, 163);
}

/* Media query */
@media screen and (max-width: 1000px) {
  #form-container {
    width: 50vw;
  }

  #question-0 {
    grid-area: question-0;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }

  #question-1 {
    grid-area: question-1;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }
  #question-2 {
    grid-area: question-2;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }
  #question-3 {
    grid-area: question-3;
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  #form-container {
    width: 70vw;
  }

  #survey-form {
    display: grid;
    grid-template-areas:
      "fname ."
      "lname ."
      "email ."
      "age ."
      "question-0 ."
      "question-1 ."
      "question-2 ."
      "question-3 ."
      "comment_submit-area .";
    width: inherit;
    gap: 2em;
  }

  #fname-box {
    grid-area: fname;
    grid-column: 1/-1;
    border: var(--Border-Test);
    display: flex;
    flex-direction: column;
  }

  #lname-box {
    grid-area: lname;
    grid-column: 1/-1;
    border: var(--Border-Test);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 653px) {
  #title-background {
    height: 16vh;
  }
}
@media screen and (max-width: 430px) {
  #form-container {
    width: 90vw;
  }

  #title-background {
    height: 21vh;
  }
  
}

@media screen and (max-width: 330px) {
  #form-container {
    width: 100vw;
  }

  #title-background {
    height: 26vh;
  }
}

@media screen and (min-height: 1300px) {
  #form-container {
    font-size: 2rem;
    width: 70vw;
  }

  #form-container input,
  select,
  textarea,
  button {
    font-size: 1.5rem;
  }

  #title-container {
    font-size: 1.8rem;
  }
}
